h1{
    background-color: black;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(134, 25, 25);
    margin-top: 0%;
    height: 80px; 
    justify-items: center;
}